*
!CLAUDE.md
!settings.json
!.gitignore
!README.md
!LICENSE
!sync.sh
!statusline-command.sh
!hooks/
!hooks/*.py
!commands/
!commands/sync-push.md
!skills/
!skills/**/
!skills/**/*.md
!rules/
!rules/**/
!rules/**/*.md
