*
!CLAUDE.md
!settings.json
!.gitignore
!.gitattributes
!README.md
!LICENSE
!sync.sh
!merge-settings.py
!statusline-command.sh
!provision.sh
!rumdl.toml
!ruff.toml
!environment-devtools.yml
!hooks/
!hooks/*.py
!commands/
!commands/sync-push.md
!agents/
!agents/*.md
!skills/
!skills/**/
!skills/**/*.md
!rules/
!rules/**/
!rules/**/*.md
!docs/
!docs/*.md
